{% extends "base.html" %}
{% load static%}


{% block content%}

<div class ="account-details">

        <h3>Your account details</h3>
        <ol>
            <style></style>
            <h4 style="font-weight:normal">Author: {{user.username}}</h4>
            <h4 style="font-weight:normal">Email address: {{user.email}}</h4>
            <h4 style="font-weight:normal">Last Login: {{user.last_login}}</h4>
            <br>
            
        </ol>

        <h3>List of Stories</h3>
        {% for story in user.stories.all %}
        <ul>
            {{story.title}}
            <!-- {% include "news/storyCard.html" with story=story %}   -->
        </ul>
        {% endfor %}
</div>
{% endblock %}