{% extends "base.html" %}
{% load static%}


{% block content%}

<div class ="account-details">
    <h4>Your account details</h4>

        <ul>
            <h4>Author: {{user.username}}</h4>
            <h4>Email address: {{user.email}}</h4>
            <h4>Last Login: {{user.last_login}}</h4>
        </ul>


    <h4>List of Stories</h4>
        {% for story in user.stories.all %}
        <ul>
            {{story.title}}
            <!-- {% include "news/storyCard.html" with story=story %}   -->
        </ul>
        {% endfor %}
</div>
{% endblock %}