#header-link a {
    text-decoration: none;
}

body{
    background-color:#CB0162;
}

.story-card {
    margin: 2px;
    border: 1px solid #FFBACD;
    padding: 5px;
}

.story-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


#latest-stories {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
}
#latest-stories .story-card{
    background-color: #FFBACD;
    display: inline-block;
    width: 30%;
    margin: 3px;
    margin-bottom: 16px;
}
#latest-stories .story-card h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#latest-stories .story-card#story-card-1 {
    width: 93%;
}

#story-card{
    display: flex;
    justify-content: space-between;
}

#story-card-2 .story-card-text h3,
#story-card-3 .story-card-text h3,
#story-card-4 .story-card-text h3 {
    font-size: 16px;
}

#story-card-2 .story-card-text h4,
#story-card-3 .story-card-text h4,
#story-card-4 .story-card-text h4 {
    font-size: 12px;
}


#story-card-2 img,
#story-card-3 img,
#story-card-4 img {
    width: 100%;
    height: 70%;
}


#story-content {
    text-align: justify;
}

#story-content img {
    float: right;
    margin: 0 0 10px 10px;
    width: 40%;
}

#story-wrapper {
    margin: 50px 0 0px 5px;
    text-align: center;
}


#story-wrapper img {
    width: 40%
}

#story-wrapper h2 {
    display: flex;
    align-items: center;
    padding-left: 25%;
}

#story-content {
    font-size: large;
}

#story-content p{
    margin: 5px 5px 5px 5px
    
}



.formContain{
    display: flex;
    justify-content: center;  
} 




